@import '../../colors.scss';


.visual {
/* 	width: 3280px;
	height: 1080px;
 */
	position: relative;
	z-index: 1;
	width: 100%;
	height: var(--screen-height);
	background-color: $color-white;
	transition: background-color var(--color-transition);
	overflow: hidden;

	&.centered {
		height: 100vh;
		width: calc( 3 * 100vh);
	}

	&.presentation-active,
	&.midsession-slides-active,
	&.logo-only  {
		z-index: 1;
	}

	.logo-container {
		transition: 
			transform 1s,
			opacity var(--speaker-text-transition);
	}

}

.visual div[class^=rectangle-] {
	transition: 
		transform var(--speaker-text-transition), 
		background-color var(--color-transition);
	position: absolute;
	width: 100vw;
	height: 100vw;
}

.visual {
	.logo-container {
		position: absolute;
		z-index: 100;
		width: 25vw;
		height: 25vw;
		top: 0;
		left: 0;
		opacity: 1;
		transform: translate(32%, 20%);
	}

	.big-rectangle {
		transition: 
			opacity .8s, 
			transform 1s,
			background-color var(--color-transition);
		position: absolute;
		z-index: 10;
		width: 100vw;
		height: 100vw;
		transform-origin: top right;
		overflow: hidden;
		
		top: 0;

		&::after {
			@keyframes colors {
				from {
				/* pushes the sun down past the viewport */
				transform: translate(-50%, -50%) rotate(10deg);
				}
				to {
				/* returns the sun to its default position */
				transform: translate(-50%, -50%) rotate(370deg);
				}
			}
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(10deg);
			width: 180%;
			height: 180%;
			background: linear-gradient(
				-60deg, $color-neonblue 20%, $color-cyberpurple 50%, $color-neonblue 80%
			);
			animation: 20s linear 0s infinite running colors;
		}
	}

	.rectangle-left {
		bottom: 0;
		transform-origin: bottom right;
		background-color: $color-purple;
	}
	.rectangle-right {
		top: 0;
		transform-origin: bottom right;
		background-color: $color-orange;
	}
	.rectangle-bottom {
		bottom: 0;
		transform-origin: top left;
		background-color: $color-secondarypurple;
	}

	.big-rectangle {
		transform: translate(-80%, 45%) rotate(135deg);
	}

}





.presentation-active {
	.logo-container {
		transform: translate(32%, -180%);
	}
	.big-rectangle {
		transform: translate(-80%, -10%) rotate(135deg);
		opacity: 0;
	}
}

.logo-only {
	.logo-container {
		transform: translate(154%, 30%) scale(1.2);
	}
	.big-rectangle {
		transform: translate(-50%, 50%) rotate(135deg);
	}
}

.midsession-slides-active {
	.logo-container {
		transform: translate(32%, 110%);
	}
	.big-rectangle {
		transform: translate(-80%, 155%) rotate(135deg);
	}
}


g[class^=cluster-] path.show {
	opacity: .7;

	.midsession-slides-active & {
		opacity: 1;
	}
}